<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>

    <h2>Cars:</h2>
    <table>
        <thead>
        <tr>
            <th>Brand</th>
            <th>Color</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>

        <h1>Выбор
            <th:block th:text="${count}"></th:block>
            авто
        </h1>

        <tr th:each="car : ${carsHtml}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.age}"></td>
            <td th:text="${car.speed}"></td>
        </tr>

<!--            <th:block th:each="messgCar : ${carsHtml}">-->
<!--                <h1 th:text="${ messgCar }"></h1>-->
<!--            </th:block>-->

        </tbody>
    </table>

</div>
</body>
</html>

